{% extends 'learning_logs/base.html' %}

{% block header %}
    <h2>{{ topic }}:</h2>
{% endblock header %}

{% block content %}

  <p>
      <a href="{% url 'learning_logs:new_entry' topic.id %}">加入新内容</a>
  </p>
  <ul>
  {% for entry in entries %}
      <div class="pane pane-default">
            <div class="pane-heading">
                <h3>
                    {{ entry.date_added|date:'M d, Y H:i' }}
                    <small>
                        <a href="{% url 'learning_logs:edit_entry' entry.id %}">编辑条目</a>
                        <a href="{% url 'learning_logs:del_entry' entry.id %}" style="float: right"><h5 style="color: red">删除</h5></a>
                    </small>
                </h3>
            </div>
            <div class="pane-bady">
                {{ entry.text|linebreaks }}
            </div>
      </div>
  {% empty %}
    <li>
      没有更多内容了
    </li>
  {% endfor %}
  </ul>

{% endblock content %}
