{% extends "learning_logs/base.html" %}

{% block header %}
    <h1>主题集:</h1>
{% endblock header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <li>
        <h3>
            <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            <a href="{% url 'learning_logs:del_topic' topic.id %}" style="float: right"><h5 style="color: red">删除</h5></a>
            <a href="{% url 'learning_logs:edit_topic' topic.id %}" style="float: right"><h5>重命名|</h5></a>
        </h3>
	  </li>
    {% empty %}
      <li>没有更多主题了</li>
    {% endfor %}
  </ul>
  
    <h3><a href="{% url 'learning_logs:new_topic' %}">加入新主题</a></h3>

{% endblock content %}
